@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

body {
	background-color: #EAEAEA;
    font-family: 'Oswald', sans-serif;
    color: #2D2D2D;
    font-size: 14px;
}

.form-control {
	font-size: 14px;
}

@media screen and (min-width: 994px) {
.form-control {
	width: 350px;
}
}

@media screen and (max-width: 994px) {
.navbar-nav {
	text-align: center;
}
}